*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: linear-gradient(rgba(23, 255, 181, 0.218), rgb(255, 255, 179));
}
.logo {
    display: block;

    margin: auto;
    width: 60px;
    height: 50px;
}

h1{
    display: block;
    margin: auto;
    text-align: center;
}



.container {
    max-width: 945px;
    /* background-color: blueviolet; */
    border: 2px solid black ;
    margin: auto;
    height: 70vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    border: 2px solid black;
    border-radius: 15px;
    margin: 17px 4px;
    width: 25%;
    background-color: rgb(185, 235, 255);
    padding: 10px;
    color: rgb(0, 0, 0);
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}
#message-send{
    max-width: 950px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
#messageinput{
width: 92%;
height: 36px;
border-radius: 6px;
border: 2px solid black;
}
.btn{
    cursor: pointer;
    height: 34px;
    border: 2px solid black;
    border-radius: 6px;
    width: 66px;
}